body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#search {
    width: 300px;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 180px;
    margin: 0 auto;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name {
    margin: 0;
    font-size: 1.25rem;
}

.app-size {
    margin: 0;
    color: #6c757d;
}

.user-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-circle {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
}

.custom-header-success {
    background-color: #28a745;
    color: white;
}

.custom-header-error {
    background-color: #dc3545;
    color: white;
}

.custom-toast-close {
    color: white;
}

@media (max-width: 768px) {
    .user-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-actions {
        width: 100%;
        justify-content: flex-start;
        margin-top: 15px;
    }
}